<form   [formGroup]="myForm"  (submit)="saveUser()">
        FirstName : <input type="text" formControlName="firstName"/>
    

            <span *ngIf="myForm.get('firstName')?.touched">

                     <span   *ngIf="myForm.get('firstName')?.hasError('required')" class="error">Please Enter FirstName</span>
                    <span   *ngIf="myForm.get('firstName')?.hasError('minlength')" class="error">Please Enter atleast 3 character in FirstName</span>
            </span>
        <br><br>
        Email :<input type="text" formControlName="email"/>   

        <br><br>
        Password : <input type="text" formControlName="password"/>
        <br><br>

        Confirm Password : <input type="text" formControlName="confirmPassword"/>
        <br><br>
            <input type="submit" value="Signup"     />

</form>